<section>
	<h3><a href="/about/">About</a></h3>
          <img src="{{ HOME_PATH }}assets/content/pages/ben_012_bw.jpg" class="img-polaroid">
          <div class="row glyphs social-media">
            <ul>
              <li><a href="https://twitter.com/amasoean">&#xe009;</a></li>
              <li><a href="https://www.facebook.com/amasoean">&#xe008;</a></li>
              <li><a href="https://plus.google.com/104898591568170720911?rel=author" rel="me">&#xe007;</a></li>
              <li><a href="http://www.linkedin.com/in/benjaminkampmann">&#xe011;</a></li>
              <li><a href="https://github.com/ligthyear">&#xe00d;</a></li>
              <li><a href="skype://amasoean/userinfo">&#xe010;</a></li>
              <li><a href="mailto: me [at] create-build-execute dot com">&#xe00f;</a></li>
              <li><a href="{{ HOME_PATH }}atom.xml">&#xe00a;</a></li>
  
            </ul>
          </div>
          <h4>Hi, I'm Ben.</h4>
          <h4>I create Tech Products.</h4>
          
          <p>I'm a self-taught software developer and product manager. Aside from create tech products and -companies, I also advice and support others on their way from technology to product.</p>
          <p>On this blog I am publishing my thoughts about tech-products, methods and entrepreneurship in general.</p>

          <p> <a href="/about/" class="badge badge-inverse">More about me</a></p>

          <h4 style="margin-top: 30px;">Interested of my thoughts on your product?</h4>
          <h5>Want me to help you with your company or product?</h5>
          <p>The first discussions with thoughts and feedback off the top of my head is free - as long as you pay for lunch/dinner. Just <a href="mailto: me at create-build-execute dot com" >email me</a>.</p>

      
          <h5  style="margin-top: 30px;">MyHats</h5>

          <iframe src="http://www.mihats.com/widget.html#benjaminkampmann" frameborder="0" height="500" class="span3" style="margin-left: -20px;"></iframe>

</section>
