/* Override some defaults */


header {
	margin: 50px 0;
	box-shadow: none;
	border-bottom: 2px solid #EEE;
}

.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

.topbar .btn {
  border: 0;
}

.post-title {
	text-transform:capitalize;
}

footer {
	border-top: 2px solid #eee;
	background: #777;
	color: #eee;
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 20px;
	min-height: 100px;
	font-size: 0.8em;
	text-shadow: #111 0 0 5px;
}

footer #latest-tweet .text {
	font-size: 1.2em;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5 {
	text-shadow: none;
}

footer a,
footer a:hover,
footer a:visited {
	color: #aaa;
	text-shadow: none;
	text-decoration: none;
}

footer a:hover{
	color: #eee;
	text-shadow: #aaa 0 0 3px;
}

footer .imprint {
	padding-top: 30px;
	text-align: center;
}


/* social media in the side bar */

.posts .post {
	margin-bottom: 35px;
}

.post img,
.post iframe {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.post .date {
	margin-bottom: -5px;
}

.post .post-content {
	margin-top: 25px;
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
}

.post .post-content .header-image img{
	max-width: 85%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.post .post-content p {
	margin-bottom: 30px;
}

.post .post-meta {
	margin: 25px 0;
}

.social-media {
	font-size: 20px;
	margin: 10px 0 20px 0;
}

.social-media a:hover {
	text-decoration: none;
	color: #333;
}

.social-media ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.social-media ul li {
	display: inline;
}

.footnotes {
	font-size: 0.78em;
}

.post .post-content .footnotes p {
	margin-bottom: 0;
}